* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.App {
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
}

.shop_heading {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.product {
  border-radius: 15px;
  width: 300px;
  height: 400px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product img {
  width: 300px;
}
.product .description {
  text-align: center;
}
.product .description p {
  padding: 5px 0;
}
.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBtn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 5px 10px;
  border-radius: 15px;
}
.addToCartBtn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart h1 {
  padding: 15px 0;
}
.cartItem {
  width: 700px;
  height: 300px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 200px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
}
.product_heading {
  margin-bottom: 18px;
}

.countHandler input {
  width: 50px;
  font-weight: bold;
  text-align: center;
}
.checkout button {
  width: 250px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
.checkout p {
  text-align: center;
}
.contact_page {
  margin: 60px 30px;
  padding: 50px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact_page h2 {
  margin-bottom: 20px;
}

.feature_area {
  background-color: black;
  color: white;
  height: 300px;
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.features {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 4px 20px;
  font-size: 23px;
  font-weight: 600;
  margin: 17px;
  height: 70px;
}
.features h5 {
  margin-left: 19px;
}
.features span {
  font-size: 28px;
}
.footer {
  margin-top: 50px;
  width: 100%;
  height: 8%;
}
.copyright {
  padding: 15px 5px;
  border: 1px solid black;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright img {
  width: 18%;
  height: 8%;
}

@media screen and (max-width: 1050px) {
  .copyright {
    display: block;
  }
  .copyright img {
    width: 88%;
    display: block;
    margin: 8px auto;
  }
  .copyright p {
    text-align: center;
  }
  .feature_area {
    padding: 15px 10px;
    height: auto;
    display: block;
  }

  .nav {
    width: 100%;
  }
  .shop {
    width: 100%;
    padding: 8px 5px;
  }
  .products {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .product {
    width: 200px;
    height: 400px;
    margin: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product img {
    width: 200px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1049px) {
  .feature_area {
    padding: 15px 10px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .cartItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    padding: 20px;
    width: 500px;
    height: auto;
  }
  .cartItem img {
    width: 130px;
  }

  .cartItem .description {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
  .product_heading {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 500px) {
  .copyright {
    display: block;
  }
  .copyright img {
    width: 88%;
    display: block;
    margin: 15px auto;
  }
  .feature_area {
    padding: 15px 10px;
    height: auto;
    display: block;
  }
  .nav {
    width: 100vw;
  }
  .nav h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .shop {
    width: 100%;
    padding: 10px 15px;
  }
  .products {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .product {
    width: 300px;
    height: 400px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product img {
    width: 200px;
  }
  .cartItem {
    margin: 15px 0;
    padding: 10px;
    width: 350px;
    height: auto;
  }
}
